In [189]:
# Initialize Otter
import otter
grader = otter.Notebook("IDS_MID.ipynb")

# Student Name and ID:______

<center><h2>Mohammad Ali Junnah University ‚Äì FALL 2025</h2></center>
  
<center><h2> Faculty: FoC & FoE‚ÄÉ‚ÄÉ Department:  CS & ECE‚ÄÉ‚ÄÉProgram:  BS-CS / BS-SE / BE-SE </h2></center>

---

<center><h2>MIDTERM EXAMINATIONS ‚Äì FALL 2025</h2></center>  

**Course Title:** Introduction to Data Science  

**Course Code:** CS4701‚ÄÉ‚ÄÉ**Section(s):** AW‚ÄÉ‚ÄÉ**Date of Examination:** November 20, 2025  

**Faculty Name:** Dr. Kashif Ishaque / Ms. Syeda Aimen Naeem  

**Total Marks:** 20‚ÄÉ‚ÄÉ**Time:** 1.5 Hours / 90 minutes  

---

### Read the instructions carefully before starting the exam:  
1. Questions will not be interpreted. Instructor will only confirm or deny errors in the question.
2. **In each respective shell of question, you are supposed to write the code, where ... is visible**.
3. **Do not modify the variables on your own, which is identified by ....**    
4. This paper has **03** no of questions. Attempt all questions.  
5. Submit your Jupyter notebook file in the examination folder in Venus.  
6. The file name of your file would be your student ID (e.g., `FA22-BSCS-0040.ipynb`).  

---

# Marks Breakdown 
Question | Points
---| ---
1a  | 2
1b | 2
1c | 2
1d | 2
1e | 2
1f  | 2
2a | 2
2b | 2
3a | 2
3b | 2
Total | 20

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

In [190]:
import pandas as pd
import numpy as np

### Question 1: Participant Information Dataset (`participant_info`)

Datascience students just finished hosting a hackathon that was open to the general public.  
They collected a dataset, `participant_info`, containing **all hackathon participants‚Äô information**.

Each participant gets exactly one row describing them in the dataset, with the following columns:

- **`participant_id`** (*numpy.int64*): The participant‚Äôs ID. Each participant has a randomly assigned unique ID. Each row of the dataset corresponds to one unique participant ID.
- **`first_name`** (*str*): The first name of the participant.
- **`last_name`** (*str*): The last name of the participant.
- **`project_topic`** (*str*): The project topic that the participant is interested in. Project topics can be one of: `"AI"`, `"Education"`, or `"Health"`.

A sample of `participant_info` is shown below:

In [191]:
portal_traffic = pd.read_csv("portal_traffic.csv")
portal_traffic.head(5)

        visitor_id  hour_of_visit activity
0      100-James-4            9.0    visit
1     100-Faraz-22            NaN   submit
2  101-Judge1-9001            9.0    grade
3  101-Judge2-9002           10.0    grade
4  100-Julianna-17           10.0    visit

### Q1a. Loading the `portal_traffic` Dataset

**Do the following**
- Ensure the dtypes are using **.astype()**:
  - `visitor_id`: string / object
  - `hour_of_visit`: `np.float32`
  - `activity`: string / object

In [192]:

# Read the CSV file `portal_traffic.csv` into a DataFrame named `portal_traffic`,
# and ensure that:
#   - visitor_id is string / object type
#   - hour_of_visit is np.float32
#   - activity is string / object type

portal_traffic['visitor_id']=portal_traffic['visitor_id'].astype('object')
portal_traffic['hour_of_visit']=portal_traffic['hour_of_visit'].astype(np.float32)
portal_traffic['activity']=portal_traffic['activity'].astype('object')

portal_traffic.head(5)

        visitor_id  hour_of_visit activity
0      100-James-4            9.0    visit
1     100-Faraz-22            NaN   submit
2  101-Judge1-9001            9.0    grade
3  101-Judge2-9002           10.0    grade
4  100-Julianna-17           10.0    visit

In [193]:
grader.check("Q1a")

Q1a results: All test cases passed!

### Q1b. Filtering Hackathon Participants

Shreya wants to create a DataFrame called `portal_traffic_filtered`, such that it only contains records from **hackathon participants** in `portal_traffic`. Recall that:

- Hackathon participants have a `visitor_id` that begins with `"100"`.
- Judges have a `visitor_id` that begins with `"101"`.

The resulting `portal_traffic_filtered` should include **all columns** from `portal_traffic` for those participant records only.

In [194]:

# Using the existing `portal_traffic` DataFrame, create a new DataFrame
# named `portal_traffic_filtered` that contains only those rows where
# `visitor_id` starts with "100" (hackathon participants). Keep all
# columns from `portal_traffic` in the result.
portal_traffic_filtered=portal_traffic [portal_traffic['visitor_id'].astype(str).str.startswith('100')]
portal_traffic_filtered

         visitor_id  hour_of_visit activity
0       100-James-4            9.0    visit
1      100-Faraz-22            NaN   submit
4   100-Julianna-17           10.0    visit
5       100-Ella-19           10.0   submit
8      100-Nehal-24           11.0    visit
10    100-Sammie-26           11.0   submit
11      100-Brie-28           12.0    visit
14      100-Chen-29            NaN    visit
16       100-Dia-31            2.0   submit
17     100-Kiran-32            2.0    visit
21     100-Yewen-14           18.0    visit
22     100-Faraz-22           18.0   submit

In [195]:
grader.check("Q1b")

Q1b results: All test cases passed!

### Q1c. Visits Only (Selected Columns)

Malavikha wants a DataFrame that contains only entries with the activity `"visit"` and only the columns `visitor_id` and `hour_of_visit`. Create the intended DataFrame.

In [196]:

# Using the existing `portal_traffic` DataFrame, create a new DataFrame
# named `portal_traffic_visit` that:
#   - Keeps only rows where `activity` is "visit"
#   - Contains only the columns `visitor_id` and `hour_of_visit`
portal_traffic_visit=portal_traffic
portal_traffic_visit = portal_traffic['activity'].astype(str) == 'visit'
portal_traffic_visit=portal_traffic.loc[portal_traffic_visit, ['visitor_id', 'hour_of_visit']]



portal_traffic_visit

         visitor_id  hour_of_visit
0       100-James-4            9.0
4   100-Julianna-17           10.0
8      100-Nehal-24           11.0
11      100-Brie-28           12.0
14      100-Chen-29            NaN
17     100-Kiran-32            2.0
21     100-Yewen-14           18.0

In [197]:
grader.check("Q1c")

Q1c results: All test cases passed!

### Q1d. Activity Counts per Hour

Shreya now wants to analyze how many activities occurred at each hour.

You are given the `portal_traffic` DataFrame from earlier questions. The column
`hour_of_visit` may contain missing values (`NaN`), but you can assume there are
no missing entries in the `activity` column.

- First, filter out any rows where `hour_of_visit` is missing.
- Then, create a **Series** named `activity_counts_by_hour` that contains the count of activities for each hour (based on `hour_of_visit`).
- The index of `activity_counts_by_hour` should be the hour values, and the values should be the corresponding activity counts.

In [198]:
portal_traffic_no_na = portal_traffic.dropna(subset=['hour_of_visit'])

activity_counts_by_hour = (
    portal_traffic_no_na
    .groupby('hour_of_visit')['activity']
    .count()
)

activity_counts_by_hour

hour_of_visit
2.0     4
9.0     2
10.0    5
11.0    3
12.0    3
18.0    3
Name: activity, dtype: int64

In [199]:
grader.check("Q1d")

Q1d results: All test cases passed!

### Q1e. Hours with Fewer than Three Grade Activities

Shreya now wants to focus on hours where there were relatively few grading events.

Using the `portal_traffic` DataFrame:

- Consider only rows where `activity` is `"grade"`.
- For each hour in `hour_of_visit`, count how many `"grade"` activities occurred at that hour.
- Create a DataFrame named `less_than_three_grade` that contains **only those rows with `activity == "grade"`** where the corresponding `hour_of_visit` has **fewer than 3** grade activities in total.
- Exclude any rows where `hour_of_visit` is missing.

In [200]:

# Using the `portal_traffic` DataFrame:
#   - Consider only rows where `activity` is "grade"
#   - For each hour_of_visit, count how many "grade" activities occurred
#   - Create a DataFrame named `less_than_three_grade` that contains only
#     the grade rows where the corresponding hour_of_visit has fewer than
#     3 grade activities in total (ignore rows with missing hour_of_visit)
portal_traffic_no_na = portal_traffic.dropna(subset=['hour_of_visit'])
grade_only = portal_traffic_no_na[portal_traffic_no_na['activity'].astype(str) == 'grade']
grade_counts = grade_only.groupby('hour_of_visit').size()
hours_lt3 = grade_counts[grade_counts < 3].index
less_than_three_grade = grade_only[grade_only['hour_of_visit'].isin(hours_lt3)].copy()


# portal_traffic1=portal_traffic
# portal_traffic1=portal_traffic1['activity'].astype(str)=='grade'
# portal_traffic1.groupby('hour_of_visit')['grade'].count()
# less_than_three_grade=portal_traffic1
less_than_three_grade

          visitor_id  hour_of_visit activity
2    101-Judge1-9001            9.0    grade
9    101-Judge5-9005           11.0    grade
12   101-Judge6-9006           12.0    grade
13   101-Judge7-9007           12.0    grade
18   101-Judge9-9009            2.0    grade
19  101-Judge10-9010            2.0    grade
20  101-Judge11-9011           18.0    grade

In [201]:
grader.check("Q1e")

Q1e results: All test cases passed!

### Q1f. Imputing Missing `hour_of_visit` Using Activity-Wise Mode

Claire wants to fill in the missing values of the `hour_of_visit` column.  
However, instead of filling all missing values with a single number, she wants to
impute them **based on activity category**:

- If a row has `activity == "grade"` and `hour_of_visit` is missing,  
  replace it with the **mode hour** of all `"grade"` activities.

- If a row has `activity == "visit"` and `hour_of_visit` is missing,  
  replace it with the **mode hour** of all `"visit"` activities.

- Similarly for `"submit"`.

**Steps to follow:**
- Create a copy of the original DataFrame named `portal_traffic_imputed`.
- Compute the mode hour for each activity category.
- Replace missing `hour_of_visit` values using the mode of that row‚Äôs activity.
- Ensure the resulting `hour_of_visit` column remains `np.float32`.

In [202]:
import numpy as np
import pandas as pd

# Copy original DF
portal_traffic_imputed = portal_traffic.copy()

# Step 1: Compute activity-wise mode for hour_of_visit
activity_modes = (
    portal_traffic.groupby("activity")["hour_of_visit"]
    .agg(lambda x: x.mode().iloc[0])      # get mode value
    .astype(np.float32)                   # ensure float32
)

# Step 2: Impute missing values using mode per activity
portal_traffic_imputed["hour_of_visit"] = (
    portal_traffic_imputed
        .apply(lambda row: activity_modes[row["activity"]]
               if pd.isna(row["hour_of_visit"]) else row["hour_of_visit"],
               axis=1)
).astype(np.float32)

portal_traffic_imputed

          visitor_id  hour_of_visit activity
0        100-James-4            9.0    visit
1       100-Faraz-22            2.0   submit
2    101-Judge1-9001            9.0    grade
3    101-Judge2-9002           10.0    grade
4    100-Julianna-17           10.0    visit
5        100-Ella-19           10.0   submit
6    101-Judge3-9003           10.0    grade
7    101-Judge4-9004           10.0    grade
8       100-Nehal-24           11.0    visit
9    101-Judge5-9005           11.0    grade
10     100-Sammie-26           11.0   submit
11       100-Brie-28           12.0    visit
12   101-Judge6-9006           12.0    grade
13   101-Judge7-9007           12.0    grade
14       100-Chen-29            2.0    visit
15   101-Judge8-9008           10.0    grade
16        100-Dia-31            2.0   submit
17      100-Kiran-32            2.0    visit
18   101-Judge9-9009            2.0    grade
19  101-Judge10-9010            2.0    grade
20  101-Judge11-9011           18.0    grade
21      100-Yewen-14           18.0    visit
22      100-Faraz-22           18.0   submit

In [203]:
grader.check("Q1f")

Q1f results: All test cases passed!

### Question 2: To learn more about hackathon participants, Sarika collected another dataset called `other_info` with the following columns:

- **`participant_id`**: The participant‚Äôs ID. Each participant has a randomly assigned unique ID. Each row of the dataset corresponds to one unique participant ID. (type = `numpy.int64`)
- **`age`**: The age of the participant. (type = `np.int64`)
- **`level_of_profession`**: Level of profession of the participant. (type = `str`)
- **`email_address`**: The email address of the participant. (type = `str`)

A sample of `other_info` is shown below:

|   | participant_id | age | level_of_profession  | email_address |
|---|----------------|-----------|------------|---------------|
| 0 | 4              | 20     | undergrad   | james.geronimo@berkeley.edu            |
| 1 | 14             | 23     | undergrad         | yewen.xu@berkeley.edu        |
| 2 | 17             | 30  | newgrad        | julianna.lee@dataChundred.net            |
| 3 | 18             | 20 | newgrad  | vladyslav.shevkunov@dataChundred.net        |
| 4 | 19             | 25      | newgrad    | ella.hammond@dataChundred.net     |

### Q2a. Email Suffixes

Using the `other_info` DataFrame, create a Series with participants‚Äô **email suffixes**. The use of **REGEX** is not allowed.

The *suffix* of an email address is any text that comes **after the first `"@"`** character.

For example:

- The suffix of `"john.doe@berkeley.edu"` is `"berkeley.edu"`.

**Steps to follow:**

- Use the `email_address` column from `other_info`.
- Create a Series named `email_suffixes` where:
  - The index is the same as in `other_info`.
  - Each value is the suffix of the corresponding email address (the part after `"@"`).

In [204]:
import pandas as pd

# Load the dataset
other_info = pd.read_csv("other_info.csv")

# Extract the part after "@" in the email_address column
email_suffixes = other_info['email_address'].str.split('@').str[1]

# Show the result
email_suffixes.head()

0        berkeley.edu
1        berkeley.edu
2    dataChundred.net
3    dataChundred.net
4    dataChundred.net
Name: email_address, dtype: object

In [205]:
grader.check("Q2a")

Q2a results: All test cases passed!

### Q2b. Merging Participant Information

Recall the dataset used in Question 1, `participant_info`. For reference, a sample
of this dataset is shown again below:

|   | participant_id | first_name | last_name  | project_topic |
|---|----------------|-----------|------------|---------------|
| 0 | 4              | James     | Geronimo   | AI            |
| 1 | 14             | Yewen     | Xu         | Health        |
| 2 | 17             | Julianna  | Lee        | AI            |
| 3 | 18             | Vladyslav | Shevkunov  | Health        |
| 4 | 19             | Ella      | Hammond    | Education     |

The column `participant_id` in `participant_info` matches the `participant_id`
column in `other_info`.

**Steps to follow:**

- Merge `participant_info` and `other_info` on `participant_id` so that each row
  represents one participant with information from **both** tables.
- Store the result in a DataFrame named `sorted_merged_info`.
- Add a new column `last_letter` containing the **last letter of the participant‚Äôs
  first name**.
- Sort `sorted_merged_info` by `last_letter` in **descending** order.
- Reset the index of `sorted_merged_info` after sorting.

In [206]:
# Load both datasets (important for Otter tests)
participant_info = pd.read_csv("participant_info.csv")
other_info = pd.read_csv("other_info.csv")

# 1. Merge on participant_id (inner join ensures equal lengths)
sorted_merged_info = participant_info.merge(other_info, on='participant_id')

# 2. Add last_letter column (last letter of first_name)
sorted_merged_info['last_letter'] = sorted_merged_info['first_name'].str[-1]

# 3. Sort by last_letter descending
sorted_merged_info = sorted_merged_info.sort_values('last_letter', ascending=False)

# 4. Reset index
sorted_merged_info = sorted_merged_info.reset_index(drop=True)

sorted_merged_info

,participant_id,first_name,last_name,project_topic,age,level_of_profession,email_address,last_letter
0,22,Faraz,Khan,AI,27,professional,faraz.khan@dataChundred.net,z
1,18,Vladyslav,Shevkunov,Health,20,newgrad,vladyslav.shevkunov@dataChundred.net,v
2,4,James,Geronimo,AI,20,undergrad,james.geronimo@berkeley.edu,s
3,14,Yewen,Xu,Health,23,undergrad,yewen.xu@berkeley.edu,n
4,29,Chen,Wong,Education,22,undergrad,chen.wong@berkeley.edu,n
5,32,Kiran,Malik,AI,26,professional,kiran.malik@dataChundred.net,n
6,24,Nehal,Ali,Education,21,undergrad,nehal.ali@berkeley.edu,l
7,26,Sammie,Rao,Health,24,undergrad,sammie.rao@berkeley.edu,e
8,28,Brie,Ahmed,AI,29,professional,brie.ahmed@dataChundred.net,e
9,17,Julianna,Lee,AI,30,newgrad,julianna.lee@dataChundred.net,a
10,19,Ella,Hammond,Education,25,newgrad,ella.hammond@dataChundred.net,a
11,31,Dia,Siddiqui,Health,28,newgrad,dia.siddiqui@dataChundred.net,a

In [207]:
grader.check("Q2b")

Q2b results: All test cases passed!

### Q3. Working with Regular Expressions (Regex)

In this question, you will work with a Series of application log messages and use
regular expressions to extract meaningful information. The dataset `log_lines`
contains log entries recorded by a system, where each line includes a timestamp,
a log level (`INFO`, `WARN`, or `ERROR`), and fields such as `user=<username>`
and `action=<action>`.

The Series `log_lines` is shown below:

In [208]:
log_lines = pd.Series([
    "[2024-10-01 09:15] INFO  user=alice action=login",
    "[2024-10-01 09:17] WARN  user=bob   action=timeout",
    "[2024-10-01 09:20] ERROR user=carol action=fail",
    "[2024-10-01 09:22] INFO  user=dan   action=logout",
    "[2024-10-01 09:30] ERROR user=erin  action=login",
])
log_lines

0     [2024-10-01 09:15] INFO  user=alice action=login
1    [2024-10-01 09:17] WARN  user=bob   action=tim...
2      [2024-10-01 09:20] ERROR user=carol action=fail
3    [2024-10-01 09:22] INFO  user=dan   action=logout
4     [2024-10-01 09:30] ERROR user=erin  action=login
dtype: object

### Q3a. Extracting Usernames from Log Lines

You are given a pandas Series `log_lines`. Each line includes a pattern of the form `user=<username>`.

**Steps to follow:**

- Using a **regular expression**, extract the username from each log line.
- Create a Series named `usernames` such that:
  - The index matches the index of `log_lines`.
  - Each value is the username (e.g., `"alice"`, `"bob"`, ‚Ä¶).

In [209]:
# Extract the username using a regex that finds text after "user="
usernames = log_lines.str.extract(r'user=([A-Za-z0-9_]+)')[0]

# ya

# usernames = pd.Series(
#     ['alice', 'bob', 'carol', 'dan', 'erin'],
#     index=log_lines.index
# )

 

usernames

0    alice
1      bob
2    carol
3      dan
4     erin
Name: 0, dtype: object

In [210]:
grader.check("Q3a")

Q3a results: All test cases passed!

### Q3b. Extracting Timestamps from Log Lines

Each log line in `log_lines` begins with a timestamp inside square brackets, such as
`\[2024-10-01 09:15]`.

**Steps to follow:**

- Using a **regular expression**, extract the timestamp (the text inside the first
  pair of square brackets) from each log line.
- Create a Series named `timestamps` where:
  - The index matches the index of `log_lines`.
  - Each value is the timestamp string (e.g., `"2024-10-01 09:15"`).

In [211]:
timestamps = log_lines.str.extract(r'\[(.*?)\]')[0]
timestamps

0    2024-10-01 09:15
1    2024-10-01 09:17
2    2024-10-01 09:20
3    2024-10-01 09:22
4    2024-10-01 09:30
Name: 0, dtype: object

In [212]:
grader.check("Q3b")

Q3b results: All test cases passed!