In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("Quiz-03.ipynb")

# Student Name and ID:______

<center><h2>Mohammad Ali Junnah University ‚Äì SPRING 2025</h2></center>
  
<center><h2> Faculty: FoC‚ÄÉ‚ÄÉ Department:  Computer Science‚ÄÉ‚ÄÉProgram:  BS-CS / BS-SE </h2></center>

---

<center><h2>MIDTERM EXAMINATIONS ‚Äì SPRING 2025</h2></center>  

**Course Title:** Introduction to Data Science  

**Course Code:** CS4701‚ÄÉ‚ÄÉ**Section(s):** AM / AW‚ÄÉ‚ÄÉ**Date of Examination:** April 22, 2025  

**Faculty Name:** Dr. Kashif Ishaque / Mr. Zaid Irshad  

**Total Marks:** 20‚ÄÉ‚ÄÉ**Time:** 1.5 Hours / 90 minutes  

---

### Read the instructions carefully before starting the exam:  
1. Questions will not be interpreted. Instructor will only confirm or deny errors in the question.
2. **In each respective shell of question, you are supposed to write the code, where ... is visible**.
3. **Do not modify the variables on your own, which is identified by ....**    
4. This paper has **06** no of questions. Attempt all questions.  
5. Submit your Jupyter notebook file in the examination folder in Venus.  
6. The file name of your file would be your student ID (e.g., `FA22-BSCS-0040.ipynb`).  

---

# Marks Breakdown 
Question | Points
---| ---
1  | 2
2a | 1
2b | 1
3a | 1
3b | 2
4  | 2
5a | 1
5b | 2
5c | 2
6a | 2
6b | 2
6c | 2
Total | 20

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

In [4]:
import pandas as pd
import numpy as np

# Question 1: Create a book_info DataFrame reflecting the table below: 

| **Book Title**              | **Genre**     | **Price** | **Stock** |
|----------------------------|---------------|-----------|-----------|
| The Great Gatsby           | Classic       | 15.99     | 50        |
| 1984                       | Dystopian     | 12.50     | 30        |
| The Hobbit                 | Fantasy       | 20.00     | 45        |
| To Kill a Mockingbird      | Literary      | 14.95     | 25        |

In [5]:
book_info = pd.DataFrame({
    "Book Title": ["The Great Gatsby", "1984", "The Hobbit", "To Kill A Mockingbird"],
    "Classic": ["Classic", "Dystopian", "Fantasy", "Literary"],
    "price": [15.99, 12.50, 20.00, 14.95],
    "stock": [50, 30, 45, 25]}
)
book_info.shape

(4, 4)

In [6]:
grader.check("q1")

q1 results: All test cases passed!

# Question 2a: Add a column Sales Rank to book_info containing integers 1-4 representing sales performance (1 = highest sales).

In [7]:
book_info["Sales Rank"] = [1, 2, 3, 4]
book_info

              Book Title    Classic  price  stock  Sales Rank
0       The Great Gatsby    Classic  15.99     50           1
1                   1984  Dystopian  12.50     30           2
2             The Hobbit    Fantasy  20.00     45           3
3  To Kill A Mockingbird   Literary  14.95     25           4

In [8]:
grader.check("q2a")

q2a results: All test cases passed!

### Question 2b: Add a column Rank Duplicate to book_info that mirrors Sales Rank using .loc.

In [9]:
book_info["Rank Duplicate"] = book_info.loc[:, "Sales Rank"]
book_info

              Book Title    Classic  price  stock  Sales Rank  Rank Duplicate
0       The Great Gatsby    Classic  15.99     50           1               1
1                   1984  Dystopian  12.50     30           2               2
2             The Hobbit    Fantasy  20.00     45           3               3
3  To Kill A Mockingbird   Literary  14.95     25           4               4

In [10]:
grader.check("q2b")

q2b results: All test cases passed!

### Question 3a: Drop Sales Rank and Rank Duplicate, storing the result in book_info_clean.

In [11]:
book_info_clean = book_info.drop(["Sales Rank", "Rank Duplicate"], axis="columns")
print(book_info.shape)            
print(book_info_clean.shape)

(4, 6)
(4, 4)

In [12]:
grader.check("q3a")

q3a results: All test cases passed!

### Question 3b: Rename columns to start with uppercase letters (e.g., title ‚Üí Title).

In [13]:
book_info_caps = book_info.copy()
book_info_caps = book_info_caps.rename({"price": "Price", "stock": "Stock"}, axis="columns")

book_info_caps

              Book Title    Classic  Price  Stock  Sales Rank  Rank Duplicate
0       The Great Gatsby    Classic  15.99     50           1               1
1                   1984  Dystopian  12.50     30           2               2
2             The Hobbit    Fantasy  20.00     45           3               3
3  To Kill A Mockingbird   Literary  14.95     25           4               4

In [14]:
grader.check("q3b")

q3b results: All test cases passed!

### Movies Dataset

In [110]:
movies = pd.read_csv("movies.csv")
movies.head()

,Title,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Revenue ($M),Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008

### Question 4: 
1. Select Title and Year using .loc.
2. Select Title and Year using .iloc.
3. Select Title and Year using the plain [] notation

In [111]:
title_year_loc = movies.loc[:, ["Title", "Year"]]
title_year_iloc = movies.iloc[:, [0, 7]]
title_year_plain = movies[["Title", "Year"]]
print(title_year_loc.head())
print(title_year_iloc.head())
print(title_year_plain.head())

                                Title  Year
0          Zack and Miri Make a Porno  2008
1                     Youth in Revolt  2010
2  You Will Meet a Tall Dark Stranger  2010
3                        When in Rome  2010
4               What Happens in Vegas  2008
                                Title  Year
0          Zack and Miri Make a Porno  2008
1                     Youth in Revolt  2010
2  You Will Meet a Tall Dark Stranger  2010
3                        When in Rome  2010
4               What Happens in Vegas  2008
                                Title  Year
0          Zack and Miri Make a Porno  2008
1                     Youth in Revolt  2010
2  You Will Meet a Tall Dark Stranger  2010
3                        When in Rome  2010
4               What Happens in Vegas  2008

In [17]:
grader.check("q4")

q4 results: All test cases passed!

### Filtering with boolean arrays

Filtering is the process of removing unwanted entries. In your quest for cleaner data, you will undoubtedly filter your data at some point: whether it be for clearing up cases with missing values, for culling out fishy outliers, or for analyzing subgroups of your dataset.

For your reference, some commonly used comparison operators are given below.

Symbol | Usage      | Meaning 
------ | ---------- | -------------------------------------
==   | a == b   | Does a equal b?
<=   | a <= b   | Is a less than or equal to b?
&gt;=   | a >= b   | Is a greater than or equal to b?
<    | a < b    | Is a less than b?
&#62;    | a &#62; b    | Is a greater than b?
~    | ~p       | Returns negation of p
&#124; | p &#124; q | p OR q
&    | p & q    | p AND q
^  | p ^ q | p XOR q (exclusive or)

### Question 5a: Filter movies released in 2008 with revenue over $200M.

In [112]:
import numpy as np

high_gross_2010 = movies.loc[(movies["Year"].astype(int) == 2008) & (movies["Revenue ($M)"] >= 200)]
high_gross_2010

,Title,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Revenue ($M),Year
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008
6,WALL-E,Animation,Disney,89,2.896019,96,521.28,2008
12,Twilight,Romance,Summit,82,10.180027,49,376.66,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,285.43,2008
41,Marley and Me,Comedy,Fox,77,3.746782,63,206.07,2008
42,Mamma Mia!,Comedy,Universal,76,9.234454,53,609.47,2008
56,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,252.04,2008

In [19]:
grader.check("q5a")

q5a results: All test cases passed!

### Question 5b: Add a column "First Letter" containing the first letter of each movie title.

In [113]:
movies["First Letter"] = movies["Title"].str[0]
movies.head()

,Title,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Revenue ($M),Year,First Letter
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,41.94,2008,Z
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,19.62,2010,Y
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,26.66,2010,Y
3,When in Rome,Comedy,Disney,44,0.000000,15,43.04,2010,W
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,219.37,2008,W

In [21]:
grader.check("q5b")

q5b results: All test cases passed!

### Question 5C: Calculate total revenue in 2010 for movies starting with "A".

In [117]:
movies_2010 = movies.loc[(movies["Year"] == 2010) & (movies["First Letter"] == "A")]

# movies_2010.to_csv("movies_2010.csv")

# movies_2010_A = movies_2010.loc[movies_2010["First Letter"] == "A"]

# Y_movies_2010 = movies.loc[(movies["Year"] == 2010) & (movies_2010_A["First Letter"].str == "A")]

total_revenue = movies_2010.loc[:, "Revenue ($M)"].sum

display(movies_2010.head())

# display(movies_2010_A)

display(total_revenue)

,Title,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Revenue ($M),Year,First Letter
73,Alice in Wonderland,Adventure,Disney,55,5.13,51,1025.47,2010,A
76,Alpha and Omega,Animation,Lionsgate,36,2.53,20,50.51,2010,A
77,All Good Things,Drama,Magnolia Pictures,37,0.04,34,0.87,2010,A
78,Animal Kingdom,Drama,Sony Pictures Classics,83,1.62,95,8.08,2010,A

<bound method Series.sum of 73    1025.47
76      50.51
77       0.87
78       8.08
Name: Revenue ($M), dtype: float64>

In [118]:
grader.check("q5C")

q5C results:
    q5C - 1 result:
        ‚ùå Test case failed
        Trying:
            assert movies_2010.shape == (18, 9)
        Expecting nothing
        **********************************************************************
        Line 1, in q5C 0
        Failed example:
            assert movies_2010.shape == (18, 9)
        Exception raised:
            Traceback (most recent call last):
              File "C:\Python313\Lib\doctest.py", line 1395, in __run
                exec(compile(example.source, filename, "single",
                ~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                             compileflags, True), test.globs)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "<doctest q5C 0[0]>", line 1, in <module>
                assert movies_2010.shape == (18, 9)
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            AssertionError

    q5C - 2 result:
        ‚ùå Test case failed
        Trying:
            expected_value = 46.28
        Expecting nothing
        ok
        Trying:
            assert np.isclose(total_revenue, expected_value, atol=1e-06), 'The average value is not correct'
        Expecting nothing
        **********************************************************************
        Line 2, in q5C 1
        Failed example:
            assert np.isclose(total_revenue, expected_value, atol=1e-06), 'The average value is not correct'
        Exception raised:
            Traceback (most recent call last):
              File "C:\Python313\Lib\doctest.py", line 1395, in __run
                exec(compile(example.source, filename, "single",
                ~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                             compileflags, True), test.globs)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "<doctest q5C 1[1]>", line 1, in <module>
                assert np.isclose(total_revenue, expected_value, atol=1e-06), 'The average value is not correct'
                       ~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "c:\Users\faraz\Downloads\Documents\University Books And Assignments\FA25\Introduction To Data Science\Practice\.venv\Lib\site-packages\numpy\_core\numeric.py", line 2496, in isclose
                result = (less_equal(abs(x - y), atol + rtol * abs(y))
                                         ~~^~~
            TypeError: unsupported operand type(s) for -: 'method' and 'float'

### Olympic Medals Dataset

In [24]:
olympics = pd.read_csv("olympic.csv")
olympics.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

### Question 6a: Find the maximum medals per country using groupby.agg.

In [79]:
# max_medals = olympics.groupby("Country")["Medal"].agg("count").sort_values(ascending=False)

max_medals = olympics.groupby("Sport")["Medal"].agg("count").sort_values(ascending=False)

max_medals.head()

Sport
Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Medal, dtype: int64

In [80]:
grader.check("q6a")

q6a results: All test cases passed!

### Question 6b: Show all details for each country's best performance. First find the idx followed by best_results

In [27]:
idx = olympics.groupby("Country").idxmax()
best_results  = olympics.groupby("Country").agg("count")
print(idx.head())
print(best_results.head(5))

          Year   City  Sport  Discipline  Athlete  Gender  Event  Medal
Country
AFG      30929  30929  28965       28965    28965   28965  30929  28965
AHO      19323  19323  19323       19323    19323   19323  19323  19323
ALG      29600  23536  28602       28602    17060   19874  23655  23624
ANZ       1954   1954   2785        2785     1957    1956   2785   1154
ARG      30547  11125   8841        8841     5411    6352  19435   4356
         Year  City  Sport  Discipline  Athlete  Gender  Event  Medal
Country
AFG         2     2      2           2        2       2      2      2
AHO         1     1      1           1        1       1      1      1
ALG        15    15     15          15       15      15     15     15
ANZ        29    29     29          29       29      29     29     29
ARG       259   259    259         259      259     259    259    259

In [28]:
grader.check("q6b")

q6b results: All test cases passed!

### Question 6C: Filter results after 2010 for countries with at least 10 medals in any year.

In [108]:
post_2010 = olympics.loc[olympics["Year"].astype(int) > 2010]

medal_counts = post_2010[["Country", "Year", "Medal"]].groupby(["Country", "Year"]).agg(
    MedalCount=("Medal", "count")
    )

major_countries  = medal_counts[medal_counts["MedalCount"] >= 10].reset_index()

major_countries

   Country  Year  MedalCount
0      ARG  2012          20
1      AUS  2012         114
2      AZE  2012          10
3      BLR  2012          21
4      BRA  2012          59
5      CAN  2012          57
6      CHN  2012         128
7      CRO  2012          35
8      CUB  2012          15
9      CZE  2012          15
10     DEN  2012          16
11     ESP  2012          65
12     FRA  2012          82
13     GBR  2012         126
14     GER  2012          94
15     HUN  2012          26
16     IRI  2012          13
17     ITA  2012          68
18     JAM  2012          25
19     JPN  2012          84
20     KAZ  2012          10
21     KEN  2012          12
22     KOR  2012          63
23     MEX  2012          26
24     MNE  2012          14
25     NED  2012          69
26     NOR  2012          17
27     NZL  2012          26
28     POL  2012          12
29     ROU  2012          16
30     RUS  2012         130
31     SRB  2012          16
32     SWE  2012          23
33     TTO  2012          10
34     UKR  2012          25
35     USA  2012         250

In [109]:
grader.check("q6C")

q6C results: All test cases passed!